{
    "printWidth": 120,
    "importOrder": [
        "^(?!([@\\.]|src|types|test)).*",
        "^@(?!morpho|/).*",
        "^@morpho.*",
        "^@",
        "^test",
        "^\\.\\.",
        "^\\."
    ],
    "importOrderSeparation": true
}
